
* {
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root {
  background: rgb(129, 129, 129);
  --boxshadow: -1px -1px 1px #ffffffd2;
}
.setpage{
  padding-top: 25px;
  height: 90vh;
  width: 100vw;
  position: fixed;
  background-size: cover;
  background: url('bkg.png');
  overflow-y: scroll;
  /* background: rgb(155, 155, 155); */
  /* border: solid rgb(51, 51, 51); */
}
.colm1 {
  margin: 0 auto;
  width: 25%;
  max-width: 350px;
  min-width: 270px;
  height: 80vh;
  /* background: rgb(228, 228, 228); */
  /* border: solid rgb(51, 51, 51); */
}
.colmis1 {
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 70px;
  width: 100%;
  height: 25vh;
  /* background: rgb(228, 228, 228); */
  /* border: solid rgb(51, 51, 51); */
}
.colm2 {
  margin: 0 auto;
  width: 70%;
  height: 80vh;
  background: rgba(0, 0, 0, 0.329);
  /* border: solid rgb(51, 51, 51); */
  overflow-y: scroll;
}
.colmis2 {
  margin: 0 auto;
  /* margin-bottom: 100px; */
  width: 95%;
  height: 35%;
  /* background: rgb(228, 228, 228); */
  /* border: solid rgb(51, 51, 51); */

}
.homepage{
  margin: 0 auto;
  background: pink;
  height: 500px;
  width: auto;
  margin: 0 auto;

}
footer{
  padding: 10px;
  height: 50px;
  width: 100vw;
  background: gray;
  text-align: center;
  position: fixed;
  bottom: 0;
  color: rgba(0, 0, 0, 0.767);
  font-weight: bold;
  font-size: 21px;
}
.nvbtn{
  appearance: button;
  margin: 0 3px;
  max-width: 100px;
  text-align: center;
  float: right;
}
.navButton{
  border-radius: 3px;
  background: rgba(0, 0, 0, 0);
  padding: 7px;
  transition-duration: 1s;
  color: white;
  width: 250px;
}
.navButton:hover{
  background: rgba(0, 0, 0, 0.219);
  color: rgb(255, 255, 255);
  border-radius: 25px;
}
.frostedglass {
  color: rgb(182, 182, 182);
  border-radius: 10px;
  border: solid 2px rgba(255, 255, 255, 0.137);
  box-shadow: var(--boxshadow);
  backdrop-filter: blur(12px);
  height: 320px;
  width: 100%;
}
.frostedglass2 {
  color: rgb(182, 182, 182);
  border-radius: 10px;
  border: solid 2px rgba(255, 255, 255, 0.137);
  box-shadow: var(--boxshadow);
  backdrop-filter: blur(12px);
  height: 220px;
  width: 100%;
}
.frostedglass3 {
  color: rgb(182, 182, 182);
  border-radius: 10px;
  border: solid 2px rgba(255, 255, 255, 0.137);
  box-shadow: var(--boxshadow);
  backdrop-filter: blur(12px);
  height: 320px;
  width: 370px;
}
.frostedglass3 a{
  text-decoration: none;
  color: rgb(114, 152, 255);
}
.xtransp {
  background: rgba(209, 209, 209, 0.2);
  color: rgb(255, 255, 255);
  backdrop-filter: blur(12px);
  opacity: 0.9;
}

.cardName {
  margin-top: 15px;
  font-weight: bold;
}

.cardNBody {
  position: relative;
  text-align: justify;
  font-style: oblique;
  font-weight: lighter;
  font-size: 1.27em;
}
.cardNBody2 {
  padding: 5px;
  position: relative;
  font-style: oblique;
  font-weight: lighter;
  font-size: 1.27em;
}